{# src/Stsbl/FileDistributionBundle/Resources/views/List/field_internet.html.twig #}
{% extends admin.getTemplate('list_field_base') %}

{% block field %}
    {% set state = admin.getInternetState(object) %}
    {% set explanation = admin.getInternetExplanation(object) %}
    {% if state == 'forbidden' and explanation is not null %}
        <span title="{{ __('Until: %s', explanation.until|ltime) ~ ', ' ~ __('By: %s', explanation.user) }}" class="fd-internet-forbidden">{{ _('Forbidden') }}</span>
    {% elseif state == 'granted' and explanation is not null %}
        <span title="{{ __('Until: %s', explanation.until|ltime) ~ ', ' ~ __('By: %s', explanation.user) }}" class="fd-internet-granted">{{ _('Granted') }}</span>
    {% elseif state == 'yes' %}
        {{ _('Yes') }}
    {% elseif state == 'no' %}
        {{ _('No') }}
    {% elseif state == 'yes_nac' %}
        <span title="{{ __('Until: %s', explanation.until) ~ ', ' ~ __('By: %s', explanation.user) }}">{{ _('Yes') ~ ' (NAC)' }}</span>
    {% elseif state == 'yes_priv' %}
        {{ _('Yes') ~ ' (' ~ _('Privilege') ~ ')' }}
    {% elseif state == 'no_priv' %}
        {{ _('No') ~ ' (' ~ _('Privilege') ~ ')' }}
    {% elseif state == 'exam'  and explanation is not null %}
        <span title="{{ __('Title: %s', explanation.title) ~ ', ' ~ __('By: %s', explanation.user) }}" class="fd-internet-exam-mode">{{ _('Exam Mode') }}</span>
    {% else %}
        {{ state }}
    {% endif %}
{% endblock %}

{% block value %}
    {% set state = admin.getInternetState(object) %}
    {% if state == 'forbidden' %}
        {{ _('Forbidden') }}
    {% elseif state == 'granted' %}
        {{ _('Granted') }}
    {% elseif state == 'yes' %}
        {{ _('Yes') }}
    {% elseif state == 'no' %}
        {{ _('No') }}
    {% elseif state == 'exam' %}
        {{ _('Exam Mode') }}
    {% elseif state == 'yes_priv' %}
        {{ _('Yes') ~ ' (' ~ _('Privilege') ~ ')' }}
    {% elseif state == 'no_priv' %}
        {{ _('No') ~ ' (' ~ _('Privilege') ~ ')' }}
    {% elseif state == 'yes_nac' %}
        {{ _('Yes') ~ ' (NAC)' }}
    {% endif %}
{% endblock %}