{# src/Stsbl/FileDistirbutionBundle/Resources/views/Crud/file_distribution_batch_confirm.html.twig #}
{% extends "IServCrudBundle:Crud:batch_confirm.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => file-distribution.css -->
    {% endif %}
    {% stylesheets output='css/compiled/file-distribution.css' '@StsblFileDistributionBundle/Resources/public/css/file-distribution.less' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block crud_table %}
    {% if batchAction.getName() == 'enable' %}
        <div class="alert alert-warning">
            {{ _('Only hosts which are member of the Windows Domain are supported.') }}
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block crud_table_foot %}
    <tfoot>
        {% if confirmForm.form.actions.enable is defined %}
            <tr><td{% if colspan is defined%} colspan="{{ colspan }}"{% endif %}>
                <span class="fd-help-text">{{ _('For the users who are logging in on this hosts, there will created two addtional network drives for file distribution assignment and return.') }}</span>
            </td></tr>
            <tr><td{% if colspan is defined%} colspan="{{ colspan }}"{% endif %}>
                {{ form_widget(confirmForm.form.title) }}
                <span class="help-block">{{ _('The folder path where you will find the assignment folder and the returns will be Files/File-Distribution/<Title>.')|escape('html') }}</span>
            </td></tr>
        {% endif %}
        <tr><td{% if colspan is defined%} colspan="{{ colspan }}"{% endif %}> 
            <div class="batch-actions">
                {{ form_widget(confirmForm.form.actions) }}
            </div>
        </td></tr>
    </tfoot>
{% endblock crud_table_foot %}

{% block crud_disallowed_table %}
{% if not disallowedItems is empty %}
    <div class="panel panel-warning mt">
        <div class="panel-heading">
            {% if batchAction.getName() == 'enable' %}
                {{ _('You can not enable file distributions for the following entries, because there it is already enabled:') }}
            {% else %}
                {{ _('File distribution is not enabled for the following entries:') }}
            {% endif %}
        </div>
        <table class="table table-bordered">
            {% block crud_disallowed_table_body %}
                {{ parent() }}
            {% endblock %}
            {% block crud_disallowed_table_foot %}
                {{ parent() }}
            {% endblock %}
        </table>
    </div>
{% endif %}
{% endblock crud_disallowed_table %}

{% block javascripts %}
    {{  parent() }}
    
    <script type="text/javascript">
        // prevent requirement of title on cancel
        $('#iserv_crud_multi_select_actions_cancel').click(function() {
            $('#iserv_crud_multi_select_title').removeAttr('required');
            
            return true;
        });
    </script>
{% endblock %}