{# src/Stsbl/FileDistributionBundle/Resources/views/Crud/file_distribution_index.html.twig #}
{% extends "IServCrudBundle:Crud:index.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => vendor/glyphicons-social.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('/css/vendor/glyphicons-social.css') }}"/>

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => host.css -->
    {% endif %}
    {% stylesheets '@IServHostBundle/Resources/public/host.css' filter='cssrewrite' filter='?uglifycss' output='css/compiled/host.css' %}
     <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => file-distribution.css -->
    {% endif %}
    {% stylesheets output='css/compiled/file-distribution.css' '@StsblFileDistributionBundle/Resources/public/css/file-distribution.less' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% if not room_available %}
        <h3>{{ _p('file-distribution', 'Configuration required') }}</h3>
        <hr />
        <div class="alert alert-warning">
            {% if admin.user.hasRole('ROLE_ADMIN') and is_granted('PRIV_FILE_DISTRIBUTION_ROOMS') %}
                <p>{{ _('You need to configure available rooms before you can use this module!') }}</p>
                <p><a class="btn btn-default" href="{{ path('admin_filedistribution_rooms_index') }}">{{ icon('door') }} {{ _('Manage available rooms') }}</a></p>
            {% else %}
                {{ _('This module needs addtional configuration. Please contact your IServ Administrator!') }}
            {% endif %}
        </div>
    {% else %}
        {% if display_msg %}
            <div class="alert alert-info">
                {{ __('The files for the distribution "%s" must resided in the following folder:', path.title) }} <a href="{{ path('file_list', {'path': path.encoded }) }}">{{ icon('legacy-folder')|raw }} {{ __('Files/File-Distribution/%s', path.title) }}</a>
            </div>
        {% endif %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block crud_actions %}
    {% if admin.user.hasRole('ROLE_ADMIN') and is_granted('PRIV_FILE_DISTRIBUTION_ROOMS') %}
        <div class="list-actions">
            <a class="btn btn-default" href="{{ path('admin_filedistribution_rooms_index') }}">{{ icon('door') }} {{ _('Manage available rooms') }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => host.js -->
    {% endif %}
    {% javascripts '@IServHostBundle/Resources/public/host.js' filter='?uglifyjs2' output='js/compiled/host.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        IServ.Host.updateStatus({{ status|json_encode|raw }});
    </script>
{% endblock %}

{% block crud_table_row %}
    {% spaceless %}
        <tr{% if ip == item.ip %} class="highlight"{% endif %}>
            {{ block('crud_table_cells') }}
        </tr>
    {% endspaceless %}
{% endblock crud_table_row %}
