{# src/Stsbl/FileDistributionBundle/Resources/views/FielDistribution/enable.html.twig #}
{% extends "IServCoreBundle::page.html.twig" %}
{% import 'StsblJavaScriptLibraryBundle::jquery.initialize.html.twig' as jqi %}
{% import 'StsblJavaScriptLibraryBundle::select2-jquery.initialize.html.twig' as s2jqi %}

{% block page_title %}
    {{ _('Enable file distribution') }}
{% endblock %}

{% block content %}
    <div class="alert alert-warning">
        {{ _('Only hosts which are member of the Windows Domain are supported.') }}
    </div>
    {{ form(enable_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ jqi.integrate() }}

    {{ s2jqi.integrate() }}
    
    {% if app.environment != 'prod' %}
	<!-- {{ _self }} => file-distribution.js -->
    {% endif %}
    {% javascripts output='js/compiled/file-distribution.js' filter='?uglifyjs2' '@StsblFileDistributionBundle/Resources/public/js/file-distribution.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}