{# src/Stsbl/FileDistributionBundle/Resources/views/List/field_filedistribution.html.twig #}
{% extends admin.getTemplate('list_field_base') %}

{% block field %}
    {% set fd = admin.getFileDistribution(object) %}
    
    {% if fd is not null %}
        <span title="{{ __('By: %s', fd.user) }}">{{ fd.plainTitle }}</span>
        {% if fd.user == app.user %}
            {% set path = 'Files/File-Distribution/' ~ fd.plainTitle %}
            &nbsp;<a href="{{ path('file_list', {'path': path|base64_encode}) }}" title="{{ _('Open folder of this file distribution')  }}">{{ icon('legacy-folder') }}</a> 
        {% endif %}
    {% endif %}
{% endblock %}

{% block value %}
    {% set fd = admin.getFileDistribution(object) %}
    
    {% if fd is not null %}
        {{ fd.plainTitle }}
    {% else %}
        {# Hack to move section "Weitere" to bottom #}
        zzzz_none
    {% endif %}
{% endblock %}